[user]
	name = Yusuke Mukoyama
	email = yusuke.mukoyama@gmail.com

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[core]
	excludesfile = /Users/y.mukoyama/.gitignore_global
	editor = vim

[alias]
  a = add
  b = branch
  s = status
  d = diff
  p = push
  ba = branch -a
  co = checkout
  cod = checkout develop
  cm = commit
  cma = commit -a
  cmam = commit -am
  pr = pull-request
  l = log --graph --decorate --all --oneline
  de = branch --merged | egrep -v 'develop|master' | xargs git branch -d
  logg = log --graph --all --decorate
  # ファイル名のみの差分を表示する
  difff = diff --name-only
  # staged diff
  diffs = diff --cached
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[commit]
	template = /Users/y.mukoyama/.stCommitMsg
